body {
  font-family: "Lato", sans-serif;
}

label {
  color: #333;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}

.container {
  background-color: rgb(206, 192, 192);
  align-items: center;
  padding: 50px 0px;
}

.h2 {
  padding: 30px 0px;
  font-weight: 700;
  text-align: center;
}

.contact_p {
  padding: 0px 20px;
}
