@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.test {
  background-color: #f5d10d;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
