.test {
  border: 1px solid rgb(67, 198, 221);
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 5px 10px 5px -7px #4aa4ee, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transform: scale(1.01);
}

.jobs_inline {
  display: inline;
  color: rgb(8, 8, 0);
}

/* p:nth-of-type(2) {
  color: brown;
  font-weight: 700;
  font-size: 1.2rem;
  font-style: italic;
} */
.jobs_container {
  padding: 50px 0px;
  margin-bottom: 200px;
}
