.quote_container {
  background-color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  text-align: center;
  align-items: center;
  padding: 50px 0px;
}

.quote_container h2 {
  padding: 30px 0px;
  font-weight: 700;
}
.quote_container h4 {
  padding: 20px 0px;
}

.quote_container span {
  font-size: 2rem;
}

.quote_col:hover {
  margin-top: -10px;
  margin-bottom: 10px;
  color: rgb(10, 88, 99);
  text-shadow: 2px px 2px rgb(252, 246, 246);
  transition: all 0.5s ease-in-out;
}

.quote_icon {
  border-radius: 50%;
  font-size: 2em;
  color: rgb(11, 179, 25);
  text-shadow: 2px px 2px rgb(252, 246, 246);
}

.quote_p {
  font-size: 1.1rem;
}
