.container {
  background-color: rgb(231, 219, 219);
  width: auto;
  height: auto;
  text-align: center;
  align-items: center;
  padding: 50px 0px;
}

.container h2 {
  padding: 30px 0px;
  font-weight: 700;
}
.container h5 {
  font-weight: bold;
  padding: 20px 0px;
}

.container span {
  font-size: 2rem;
}

.col:hover {
  margin-top: -10px;
  margin-bottom: 10px;
  color: rgb(10, 88, 99);
  text-shadow: 1px 1px 2px rgb(252, 246, 246);
  transition: all 0.5s ease-in-out;
}
