.container {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  background-color: rgb(255, 255, 255);
  width: auto;
  margin-bottom: 25px;
}

.input {
  margin: 10px auto;
  width: 100%;
  border-radius: 1px;
}

.btn {
  margin: 20px auto;
  width: 30%;
  background-color: green;
  color: aliceblue;
  border: none;
  border-radius: 5px;
}
